[submodule "vendors/cpp-sdk"]
	path = vendors/cpp-sdk
	url = https://github.com/altmp/cpp-sdk.git
[submodule "vendors/protobuf"]
	path = vendors/protobuf
	url = https://github.com/protocolbuffers/protobuf
